{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/screen.css">
{% endblock %}

{% block js %}
    <script src="/js/index.js"></script>
{% endblock %}

{% block body %}

<img id="bg" src="/images/load.gif" alt="page background">

<div id="content">
    <div class="cell">



    </div>
</div>

<div id="nav"><div class="cell"></div></div>

{% endblock %}
