{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/screen.css">
{% endblock %}

{% block js %}
    <script src="/js/index.js"></script>
{% endblock %}

{% block body %}

<img id="bg" src="/images/load.gif" alt="page background">

<div id="content">
    <div class="cell">

        <div class="indexContainer">
            <h1>
                Le calendrier du potager
            </h1>
            <p>
                Des conseils simples pour mettre le pied à l'étrier du jardinier débutant.
            </p>
            <p>
                Sélectionner un légume ci-dessous pour obtenir les informations.
            </p>
        </div>

    </div>
</div>

<div id="nav"><div class="cell"></div></div>

{% endblock %}
