@import url("https://fonts.googleapis.com/css?family=Muli:400,600");
/* atinfo base scss */
/* COMPASS IMPORTS */
/* line 5, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* OWN MIXINS */
/* Simple animation with named arguments */
/* line 7, ../sass/admin.scss */
html {
  color: #eee;
  background-color: #222;
}

/* line 12, ../sass/admin.scss */
body {
  text-align: center;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
}

/* line 18, ../sass/admin.scss */
a {
  color: white;
}

/* line 22, ../sass/admin.scss */
.mainContainer {
  text-align: left;
  margin: auto;
}

/* line 27, ../sass/admin.scss */
h1 {
  font-family: 'Muli', sans-serif;
  font-size: 2em;
  text-align: center;
  padding: 10px 0;
  border-bottom: 2px solid white;
}

/* line 35, ../sass/admin.scss */
label {
  display: inline-block;
  padding: 10px;
  width: auto;
}

/* line 41, ../sass/admin.scss */
input[type=radio] + label, input[type=checkbox] + label {
  display: inline-block;
  padding: 10px 20px;
  color: #ccc;
  border: 2px solid transparent;
}

/* line 48, ../sass/admin.scss */
input[type=radio]:checked + label, input[type=checkbox]:checked + label {
  color: #eee;
  border-color: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* line 55, ../sass/admin.scss */
form {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}

/* line 60, ../sass/admin.scss */
input {
  font-family: 'Muli', sans-serif;
  font-weight: 600;
}

/* line 65, ../sass/admin.scss */
input[type=text], input[type=number], select {
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
}

/* line 71, ../sass/admin.scss */
input[type=text], input[type=number] {
  color: #eee;
  background-color: #111;
  border: 1px solid #555;
}

/* line 77, ../sass/admin.scss */
input[type=text] {
  width: 50%;
}

/* line 81, ../sass/admin.scss */
input[type=number] {
  width: 60px;
  text-align: right;
  padding-right: 15px;
  -moz-appearance: textfield;
}

/* line 88, ../sass/admin.scss */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* line 93, ../sass/admin.scss */
select {
  display: inline-block;
  position: relative;
  top: -4px;
  padding: 0 5px;
}

/* line 100, ../sass/admin.scss */
#appbundle_plant > div {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

/* line 105, ../sass/admin.scss */
table {
  margin: auto;
}

/* line 109, ../sass/admin.scss */
table.show {
  width: 100%;
}

/* line 113, ../sass/admin.scss */
td, th {
  border: 1px solid white;
  padding: 5px 10px;
}

/* line 118, ../sass/admin.scss */
.control {
  text-align: center;
  padding: 10px !important;
}

/* line 123, ../sass/admin.scss */
.controlButton {
  display: inline-block;
}

/* line 127, ../sass/admin.scss */
#appbundle_plant_friendlyPlants .controlButton,
#appbundle_plant_enemyPlants .controlButton,
#appbundle_plant_soil .controlButton {
  width: 100%;
}

/* line 134, ../sass/admin.scss */
#appbundle_plant_watering .controlButton,
#appbundle_plant_underCoverStart .controlButton,
#appbundle_plant_underCoverEnd .controlButton,
#appbundle_plant_inGroundStart .controlButton,
#appbundle_plant_inGroundEnd .controlButton,
#appbundle_plant_plantingStart .controlButton,
#appbundle_plant_plantingEnd .controlButton,
#appbundle_plant_harvestStart .controlButton,
#appbundle_plant_harvestEnd .controlButton {
  width: 49%;
}

/* line 146, ../sass/admin.scss */
#appbundle_plant_underCoverStart .controlButton {
  width: 49%;
}

/* line 150, ../sass/admin.scss */
table.show td {
  font-weight: 600;
}

@media screen and (min-width: 700px) {
  /* line 156, ../sass/admin.scss */
  .mainContainer {
    display: inline-block;
    font-size: 1.2em;
  }

  /* line 161, ../sass/admin.scss */
  table.show td, table.show th {
    padding: 5px 50px 5px 10px;
  }

  /* line 166, ../sass/admin.scss */
  label[for=appbundle_plant_seedsQuantity], label[for=appbundle_plant_seedingDepth],
  label[for=appbundle_plant_lineDistance], label[for=appbundle_plant_lineInterval] {
    width: 30%;
  }

  /* line 171, ../sass/admin.scss */
  .controlButton {
    width: 16%;
  }

  /* line 176, ../sass/admin.scss */
  #appbundle_plant_friendlyPlants .controlButton, #appbundle_plant_enemyPlants .controlButton {
    width: 49%;
  }

  /* line 180, ../sass/admin.scss */
  #appbundle_plant_soil .controlButton {
    width: 24%;
  }

  /* line 184, ../sass/admin.scss */
  #appbundle_plant_watering .controlButton {
    width: auto;
  }

  /* line 188, ../sass/admin.scss */
  #appbundle_plant_underCoverStart .controlButton,
  #appbundle_plant_underCoverEnd .controlButton,
  #appbundle_plant_inGroundStart .controlButton,
  #appbundle_plant_inGroundEnd .controlButton,
  #appbundle_plant_plantingStart .controlButton,
  #appbundle_plant_plantingEnd .controlButton,
  #appbundle_plant_harvestStart .controlButton,
  #appbundle_plant_harvestEnd .controlButton {
    width: 15%;
  }
}
@media screen and (min-width: 1280px) {
  /* line 202, ../sass/admin.scss */
  .mainContainer {
    max-width: 1280px;
  }

  /* line 206, ../sass/admin.scss */
  input {
    font-size: 1em;
  }

  /* line 210, ../sass/admin.scss */
  label {
    width: 30%;
  }

  /* line 214, ../sass/admin.scss */
  input[type=radio] + label, input[type=checkbox] + label {
    width: auto;
  }

  /* line 218, ../sass/admin.scss */
  #appbundle_plant_soil, #appbundle_plant_watering {
    display: inline-block;
  }

  /* line 222, ../sass/admin.scss */
  .controlButton {
    width: auto;
  }

  /* line 226, ../sass/admin.scss */
  #appbundle_plant_friendlyPlants .controlButton, #appbundle_plant_enemyPlants .controlButton {
    width: 33%;
  }

  /* line 230, ../sass/admin.scss */
  #appbundle_plant_soil .controlButton {
    width: 16%;
  }

  /* line 234, ../sass/admin.scss */
  #appbundle_plant_underCoverStart .controlButton,
  #appbundle_plant_underCoverEnd .controlButton,
  #appbundle_plant_inGroundStart .controlButton,
  #appbundle_plant_inGroundEnd .controlButton,
  #appbundle_plant_plantingStart .controlButton,
  #appbundle_plant_plantingEnd .controlButton,
  #appbundle_plant_harvestStart .controlButton,
  #appbundle_plant_harvestEnd .controlButton {
    width: auto;
  }
}
