

@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

@import "base";

html {
    color: #eee;
    background-color: #222;
}

body {
    text-align: center;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

a {
    color: white;
}

.mainContainer {
    text-align: left;
    margin: auto;
}

h1 {
    font-family: 'Muli', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid white;
}

label {
    display: inline-block;
    padding: 10px;
    width: auto;
}

input[type=radio] + label, input[type=checkbox] + label {
    display: inline-block;
    padding: 10px 20px;
    color: #ccc;
    border: 2px solid transparent;
}

input[type=radio]:checked + label, input[type=checkbox]:checked + label {

    color: #eee;
    border-color: white;
    @include border-radius(10px);
}

form {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}

input {
    font-family: 'Muli', sans-serif;
    font-weight: 600;
}

input[type=text], input[type=number], select {
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
}

input[type=text], input[type=number] {
    color: #eee;
    background-color: #111;
    border: 1px solid #555;
}

input[type=text] {
    width: 50%;
}

input[type=number] {
    width: 60px;
    text-align: right;
    padding-right: 15px;
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

select {
    display: inline-block;
    position: relative;
    top: -4px;
    padding: 0 5px;
}

#appbundle_plant > div {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

table {
    margin: auto;
}

table.show {
    width: 100%;
}

td, th {
    @include debug(white);
    padding: 5px 10px;
}

.control {
    text-align: center;
    padding: 10px!important;
}

.controlButton {
    display: inline-block;
}

#appbundle_plant_friendlyPlants .controlButton,
#appbundle_plant_enemyPlants .controlButton,
#appbundle_plant_soil .controlButton {
    width: 100%;
}


#appbundle_plant_watering .controlButton,
#appbundle_plant_underCoverStart .controlButton,
#appbundle_plant_underCoverEnd .controlButton,
#appbundle_plant_inGroundStart .controlButton,
#appbundle_plant_inGroundEnd .controlButton,
#appbundle_plant_plantingStart .controlButton,
#appbundle_plant_plantingEnd .controlButton,
#appbundle_plant_harvestStart .controlButton,
#appbundle_plant_harvestEnd .controlButton {
    width: 49%;
}

#appbundle_plant_underCoverStart .controlButton {
    width: 49%;
}

table.show td {
    font-weight: 600;
}

@media screen and (min-width: 700px) {

    .mainContainer {
        display: inline-block;
        font-size: 1.2em;
    }

    table.show td, table.show th {
        padding: 5px 50px 5px 10px;
    }


    label[for=appbundle_plant_seedsQuantity], label[for=appbundle_plant_seedingDepth],
    label[for=appbundle_plant_lineDistance], label[for=appbundle_plant_lineInterval] {
        width: 30%;
    }

    .controlButton,
    {
        width: 16%;
    }

    #appbundle_plant_friendlyPlants .controlButton, #appbundle_plant_enemyPlants .controlButton {
        width: 49%;
    }

    #appbundle_plant_soil .controlButton {
        width: 24%;
    }

    #appbundle_plant_watering .controlButton {
        width: auto;
    }

    #appbundle_plant_underCoverStart .controlButton,
    #appbundle_plant_underCoverEnd .controlButton,
    #appbundle_plant_inGroundStart .controlButton,
    #appbundle_plant_inGroundEnd .controlButton,
    #appbundle_plant_plantingStart .controlButton,
    #appbundle_plant_plantingEnd .controlButton,
    #appbundle_plant_harvestStart .controlButton,
    #appbundle_plant_harvestEnd .controlButton {
        width: 15%;
    }
}

@media screen and (min-width: 1280px) {

    .mainContainer {
        max-width: 1280px;
    }

    input {
        font-size: 1em;
    }

    label {
        width: 30%;
    }

    input[type=radio] + label, input[type=checkbox] + label {
        width: auto;
    }

    #appbundle_plant_soil, #appbundle_plant_watering {
        display: inline-block;
    }

    .controlButton {
        width: auto;
    }

    #appbundle_plant_friendlyPlants .controlButton, #appbundle_plant_enemyPlants .controlButton {
        width: 33%;
    }

    #appbundle_plant_soil .controlButton {
        width: 16%;
    }

    #appbundle_plant_underCoverStart .controlButton,
    #appbundle_plant_underCoverEnd .controlButton,
    #appbundle_plant_inGroundStart .controlButton,
    #appbundle_plant_inGroundEnd .controlButton,
    #appbundle_plant_plantingStart .controlButton,
    #appbundle_plant_plantingEnd .controlButton,
    #appbundle_plant_harvestStart .controlButton,
    #appbundle_plant_harvestEnd .controlButton {
        width: auto;
    }
}
