
@import url('https://fonts.googleapis.com/css?family=Muli:300,400');

@import url('https://fonts.googleapis.com/css?family=Kalam:300,400,700');

@import "base";


$normalTextSize: 1em;
$normalLineHeight: 1.25;

$bigTextSize: 2em;
$bigLineHeight: 1.25;

/*
    main elements
*/
html, body {
    height: 100%;
    width: 100%;
    font-size: 16px
}

body {
    font-size: $normalTextSize;
    line-height: $normalLineHeight;

    font-family: 'Kalam', cursive;
    text-align: center;
    background-color: black;
    display: table;
    width: 100%;
}

#content {
    display: table-row;
    // height: 50%;
    vertical-align: middle;
}

#nav {
    display: table-row;
    height: 50%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    // border-bottom: 1px solid white;
};

#bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.bgwidth { width: 100%; }
.bgheight { height: 100%; }


/*
    top containers
*/
table, .indexContainer {

    width: 96%;
    height: 90%;
    margin: auto;
    margin-top: 10px;
    // padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255, .9);
    @include border-radius(10px);
    display: table;
    table-layout: fixed;
}

.indexContainer {
    padding-bottom: 10px;
    height: auto;
}

.indexContainer h1 {

    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #ccc;

    font-size: $bigTextSize;
    line-height: $bigLineHeight;
}

.indexContainer p {

    font-size: 1.1em;
    margin: 5px 10px;
    font-weight: 300;
}


$border-color: #aaa;

tr.header td {
    padding: 2px 5px;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
}

tr.values td {
    font-weight: bold;
    padding: 5px 10px;
}


tr:nth-child(odd) td {
    background-color: rgba(255,255,255, .5);
}

tr:first-child td {
    text-align: center;

    font-size: $bigTextSize;
    line-height: $bigLineHeight;

    background-color: rgba(255,255,255, .6);
    @include border-top-radius(20px);
    padding-top: 5px;
    font-family: 'Kalam', cursive;
}

tr:last-child td {
    @include border-bottom-radius(20px);
    padding-bottom: 10px;
}



div.linkTextWrapper {

    padding-top: 20px;
    color: red;
    // border: 1px solid red;
    width: 150px;
    margin: auto;
}

#nav span {
    display: inline-block;
    color: #000;
    border: 1px solid white;
    padding: 0 10px;
    height: 44px;
    line-height: 44px;
    margin: 5px;
    min-width: 44px;
    @include border-radius(10px);
    cursor: pointer;
    background-color: rgba(255,255,255, 0.8);
}

#nav span.active {
    background-color: rgba(255,255,255, 0.4);
}


@media all and (min-width: 768px)  and (min-height: 700px) {

    $normalTextSize: 1.2em;
    $normalLineHeight: 1.375;

    $bigTextSize: 2.5em;
    $bigLineHeight: 1.125;

    body {
        font-size: $normalTextSize;
        line-height: $normalLineHeight;
    }


    table, .indexContainer {
        width: 90%;
        height: 95%;
        @include border-radius(20px);
    }

    .indexContainer {
        height: auto;
        padding-bottom: 0;
    }

    tr:first-child td {
        padding: 10px 0;
    }

    .indexContainer h1 {
        font-size: $bigTextSize;
        line-height: $bigLineHeight;
        margin-top: 20px;
        color: red;
    }

    .indexContainer p {
        margin: 10px 0;
        padding: 0 10px
    }

    tr.header td {
        padding: 5px 10px;
    }

    tr.values td {
        padding: 10px 20px;
    }
}

@media all and (min-width: 1000px) and (min-height: 700px) {

    $normalTextSize: 1.15em;
    $normalLineHeight: 1.375;

    body {
        font-size: $normalTextSize;
        line-height: $normalLineHeight;
    }

    table, .indexContainer {
        width: 80%;
        @include border-radius(20px);
    }

    tr.header td {
        padding-left: 15px;
    }

    tr.values td {
        padding-left: 30px;
    }
}

@media all and (min-width: 1200px) and (max-height: 699px) {

    $normalTextSize: 1.1em;
    $normalLineHeight: 1.375;

    body {
        font-size: $normalTextSize;
        line-height: $normalLineHeight;
    }

    table, .indexContainer {
        width: 70%;
    }
}


@media all and (min-width: 1200px) and (min-height: 700px) {

    $normalTextSize: 1.05em;
    $normalLineHeight: 1.275;

    body {
        font-size: $normalTextSize;
        line-height: $normalLineHeight;
    }

    $bigTextSize: 3em;
    $bigLineHeight: 1.05;

    #nav span {
        padding: 5px 40px;
    }

    table, .indexContainer {
        width: 70%;
        height: 90%;
    }

    .indexContainer {
        height: auto;
    }

    tr:first-child td {
        padding: 20px 0 10px;
    }

    .indexContainer h1 {
        font-size: $bigTextSize;
        line-height: $bigLineHeight;
    }

    .indexContainer p {
        margin: 20px 0;
    }

    tr.header td {
        padding-left: 20px;
    }

    tr.values td {
        padding-left: 40px;
    }
}

@media all and (min-width: 1600px) {

    $normalTextSize: 1.3em;
    $normalLineHeight: 1.275;

    body {
        font-size: $normalTextSize;
        line-height: $normalLineHeight;
    }

    // $bigTextSize: 3em;
    // $bigLineHeight: 1.05;


    #nav span {
        padding: 10px 40px;
    }
}
